* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #000;
  color: lightgray;
  font-size: 30px;
  font-family: 'Sans-serif';
  font-weight: 700; }

header {
  display: flex;
  justify-content: space-around;
  max-height: 50px;
  width: 100%;
  background-color: #222930;
  padding: 10px 0;
  text-transform: uppercase; }
  header .dropdown {
    margin-left: 10px; }
    header .dropdown .but {
      background-color: #666;
      color: #fff;
      padding: 8px;
      min-height: 40px;
      border: 2px solid black;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      cursor: pointer; }
      header .dropdown .but:hover {
        background-color: #fff;
        color: #666; }
    header .dropdown .category > a {
      text-decoration: none;
      text-align: center;
      color: #fff;
      text-transform: none;
      font-size: 24px;
      margin-top: 5px;
      padding: 5px;
      border: 2px solid #222930;
      background-color: #666;
      border-radius: 4px;
      display: none; }
      header .dropdown .category > a:hover {
        background-color: #fff;
        color: #666; }
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
    letter-spacing: 3px; }
  header .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin-right: 10px; }
    header .fa:hover {
      color: #fff;
      cursor: pointer; }
  header li {
    display: none; }

#pojemnik {
  flex: 1;
  width: 1000px;
  margin: 0 auto; }
  #pojemnik #plansza {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px; }
  #pojemnik #szubienica {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
    margin: 0 50px; }
  #pojemnik #alfabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px; }
    #pojemnik #alfabet:after {
      content: '';
      display: block;
      clear: both; }
  #pojemnik .litera {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px; }
    #pojemnik .litera:hover {
      background-color: #222;
      color: #fff;
      border: 3px solid #fff; }
  #pojemnik .reset {
    color: green;
    cursor: pointer;
    font-size: 48px; }
    #pojemnik .reset:hover {
      color: #fff; }

footer {
  width: 100%;
  min-height: 40px;
  position: absolute;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  background-color: #222930;
  text-transform: uppercase;
  font-size: 14px;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
